[2015-09-27 08:15] cortner opened #2 "Compile error"
I get a compile error related to the `-std=c++0x` option (I think). Full output is below.

This is on OS X 10.10.5, Anaconda Python 2.3.0, andApple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)

Sunrise:matscipy ortner$ CC=gcc CXX=g++ python setup.py build
running build
running config_cc
unifing config_cc, config, build_clib, build_ext, build commands --compiler options
running conf

[2015-09-27 08:43] pastewka commented on #2
Oops, this is related to how different compiler handle C++11. James had looked at this in detail and probably knows the answer.

James, should we think about disabling the ring statistics part on some platforms?

Lars

Am 27.09.2015 10:15 vorm. schrieb Christoph Ortner <notifications@github.com>:

I get a compile error related to the -std=c++0x option (I think). Full output is below.

This is on O

[2015-09-28 09:45] cortner opened #3 "Neighbourlist needs bulk=true?"
[code]
this returns neighbours as expected.

Changing to
[code]
returns an empty neighbourlist.
[code]
(also, it takes 6.8 second instead of 0.02 seconds)

[2015-09-28 09:53] pastewka commented on #3
Hi Christoph,

this looks like a bug, I’ll look into this. It should work with non-orthogonal cells.

Best,
Lars

From: Christoph Ortner [mailto:notifications@github.com]
Sent: Monday, September 28, 2015 11:46 AM
To: libAtoms/matscipy
Subject: [matscipy] Neighbourlist needs bulk=true? (#3)

push!(LOAD_PATH, "..")
using PyCall
using ASE
@pyimport matscipy.neighbours as matscipy_nlist
at = bulk("Al"

[2015-09-28 10:23] jameskermode commented on #2
I've locally resolved this with Christoph but we still need a general solution. It seems C++11 is sufficiently well supported, the only problem is getting Python distutils to pass different flags when compiling C and C++ code, as passing ```-std-c++0``` with C input files causes errors with some compilers. Setting the ```CXXFLAGS``` environment variable should work, but doesn't because of this bug

[2015-09-28 11:07] cortner commented on #3
Thank you! The list now returns something. (I haven't actually checked whether it returns the correct neighbours) I can do that later if useful.

[2015-09-28 11:34] pastewka commented on #3
I you could test, that would be great. I'll mark this as resolved for the time being.

[2015-09-28 11:35] #3 closed

[2015-09-28 13:44] cortner commented on #3
@pastewka I did a visual comparison with the ASE neighbour list and they match ok. So this seems indeed resolved.  Thank you, again.

[2015-09-28 14:12] pastewka commented on #3
Great, thanks!

-------- Ursprüngliche Nachricht --------
Von: Christoph Ortner <notifications@github.com>
Datum: 28.09.2015 15:44 (GMT+01:00)
An: libAtoms/matscipy <matscipy@noreply.github.com>
Cc: "Pastewka, Lars (IAM)" <lars.pastewka@kit.edu>
Betreff: Re: [matscipy] Neighbourlist needs bulk=true? (#3)

@pastewka<https://github.com/pastewka> I did a visual comparison with the ASE neighbour list

[2015-09-29 20:01] jameskermode commented on #2
Should now be fixed. I had to delve deeper into numpy.distutils than I would like, but I've found a way to pass different options to C and C++ compilers which is working on our Travis-CI build slaves with g++ and clang++ and on Linux and OS X.  There are now dictionaries of C and C++ options at the top of setup.py that can be customised on a per-compiler basis if this issue recurs.

Christoph, it

[2015-09-30 13:19] cortner commented on #2
It builds and installs. If I run into any issues in usage, I'll open another report. Many thanks!

[2015-09-30 13:19] #2 closed

[2016-06-17 10:05] jameskermode opened #4 "Tests depending on Atomistica are skipped"
It would be good to install Atomistica in the Travis-CI environment  @pastewka  do you think this is possible?

[2016-06-17 10:07] pastewka commented on #4
Yes should be possible. I wanted to upload Atomistica to pypi anyway, maybe this would be the easiest way. You could then install with pip.

[2016-10-02 19:31] cortner opened #5 "Segfault in an extreme case"
I got the following segfault during the test, which it looks like it is cause by theneighbourlist?

[code]

This is reproducible: it happens when I put too much (negative??) pressure on a cell so that it breaks all bonds and the cell starts expanding without bounds. Here is the sequence of cell matrices before the segfault:
[code]

Maybe you don't want to treat it as a bug at all, but I was just w

[2016-10-03 05:47] pastewka commented on #5
Hi Christoph,

This looks like a bug and should be fixed.

Can you Post an atomic configuration (e.g. extxyz file) that reproduces this. I will then fix it.

Best,
Lars

[2016-10-07 19:07] cortner commented on #5
sorry for the delay - I will post something.

[2016-10-18 19:34] cortner commented on #5
here is a Python code that reproduces the crash. It is kind of a ridiculous example...
[code]

[2016-10-19 11:49] pastewka commented on #5
I just pushed a fix for this. It was related to an integer overflow in the total number of cells used for the neighbor list search. Your example now runs, but it having lots of vacuum will be super-slow at some point.

[2016-10-19 12:55] cortner commented on #5
Maybe print a warning or even a useful error message?

[2016-10-19 14:09] pastewka commented on #5
Will add a warning. Did you check whether it fixes the problem that occured in your Julia code?

[2016-10-19 14:18] pastewka commented on #5
Code is now issuing a warning in that situation.

[2016-10-20 20:31] cortner commented on #5
yep - all working as expected.

[2016-10-20 20:31] #5 closed

[2016-10-20 20:31] cortner commented on #5
thank you!

[2017-03-20 12:49] pastewka opened #6 "Have neighbour_list complain if cutoff is a matrix but numbers are missing or have inappropriate values"

[2017-03-20 12:50] pastewka commented on #4
Atomistica in now on pip but does not play well with OS X install

[2017-10-09 10:09] jameskermode opened #7 "Allow cell vectors to have length zero if pbc is False"
Consider a dimer:
[code]

The `ase.Atoms` constructor correctly sets `pbc=False` for the zero-length vectors.
The current implementation fails with a `LinAlgError` when trying to invert the cell.

[code]

Since the inverse shouldn't be needed when `pbc=False`, I tried the following patch:
[code]

However, we need to think about this a bit more, as this leads to zero cell volume, and would screw up

[2017-10-09 10:12] pastewka commented on #7
I think we should use some sort of shrink-wrapped cell in that case. The neighbor list needs a cell because it uses cell subdivision internally to look for neighbor. The shrink-wrapped cell should be fastest, because it minimizes the number of cells with no atoms in them. (The neighbor list will not necessarily loop over those, but it needs to initialize them and they may destroy cache coherency.)

[2017-10-09 10:14] pastewka opened #8 "Support for celldisp in neighbor list"
ASE's atoms object has a new celldisp parameters that specifies the origin of the cell. The neighbor list will break is it is present and not (0,0,0).

[2017-10-09 10:18] jameskermode commented on #7
Sounds good, but if the shrink-wrapped lengths are zero (as they would be in x and y here) we will still get zero volume and the subdivision will fail. Round up to at least cutoff?

[2017-10-09 10:23] pastewka commented on #7
Yes, set to at least cutoff. Any small values should do but cutoff is probably reasonable.

[2018-02-21 07:39] pastewka commented on #8
Apparently celldisp is not the origin of the cell but only used for visualization purposes. We should probably defer implementing this until a proper cell origin is implemented in ASE.

See: https://gitlab.com/ase/ase/issues/197

[2018-02-21 07:41] pastewka commented on #7
Part of this could involve changing `inv` to `pinv`. ASE uses `pinv` throughout to compute reciprocal cell.

[2018-04-03 13:25] gabor1 opened #11 "strange flips of eps_zz for thin cell"
I'm having trouble with the atomic_strain() calculation. I am passing in a  crack slab that is thin in the z direction, and then the relaxed version of it, and computing the atomic strain. Some atoms come back with eps_zz = -1, there are domains of these, and the domain walls have strange strains (and large residuals in the least squares fit).
<img width="925" alt="crack strain" src="https://user-

[2018-04-03 13:27] pastewka commented on #11
This is odd. Are the atoms reshuffled between the frames? The code needs to be able to assign a unique id to each atom, which is just the atom index presently.

If not, can you send the two configurations you are comparing?

[2018-04-03 13:31] gabor1 commented on #11
Here are the two configs. I am using the matscipy tools to apply thin strip displacements, but otherwise I'm not aware of any permutational mixup. the zip file contains the two configs, as well as the script that makes them. (the train measurements are not in the script)

[crack.zip](https://github.com/libAtoms/matscipy/files/1871656/crack.zip)

[2018-04-03 13:33] gabor1 commented on #11
Now I have a suspicion! I think it's the "mic" call. The two neighbours are images of the same atom, and somehow the mic flips them.

[2018-04-03 13:43] gabor1 commented on #11
Taking out the mic() from the dr calculation, I get this as the hydrostatic strain.
<img width="702" alt="crack_strain_fixed" src="https://user-images.githubusercontent.com/5244647/38252974-68ed2782-374d-11e8-9e2d-cd9972cae974.png">

[2018-04-03 20:27] pastewka commented on #11
That last image looks good. The analysis however presently does not work robustly if mic cannot be applied, i.e. if the thickness of your slab is thinner than twice the cutoff.

This can only be partially fixed. I can use shift vectors (computed on the initial configuration) rather than using mic, but this assumes that no atom has passed a cell boundary and been wrapped back into the cell, which m

[2018-04-03 20:29] pastewka commented on #11
I think the most robust solution would be to just replicate your cell in thickness direction before doing the analysis.

[2018-04-03 20:34] gabor1 commented on #11
How about issuing a warning? Optionally turning off that mic? Optionally double the unit cell in the short direction that fails the Mic test, for the purposes of doing the analysis?

-- Gábor

[2018-04-03 20:35] gabor1 commented on #11
Yeah, but maybe the analysis should do that itself if asked for, and only report the deformation on the original cell. It certainly shouldn't report back rubbish without warning

-- Gábor

[2018-04-04 06:36] pastewka commented on #11
Agreed. Will implement the automatic doubling of the unit cell in periodic directions.

[2018-04-04 15:34] jameskermode commented on #11
We have an `undo_pbc_jumps()` function in quip which could solve the problem of LAMMPS wrapping atoms across the pbc. It recently got ported to JuLIP, here is the discussion, which includes a Python implementation of the original Fortran unwrapping code written by @noambernstein

https://github.com/libAtoms/JuLIP.jl/issues/50

Perhaps we could use something like this this instead of the `mic()` ca

[2018-04-04 15:49] noambernstein commented on #11
Is the mic call needed for having sensible vectors to do the strain
calculation on, or is that unncessary?

On Wed, Apr 4, 2018 at 11:34 AM, James Kermode <notifications@github.com>
wrote:

[2018-05-15 16:27] pastewka commented on #11
It is unnecessary if there is no wrapping of atoms at periodic boundary conditions between the two frames. Unfortunately, that cannot be guaranteed.

I realized that replicating the cell also does not work because again what is needed is the unwrapped motion of the atoms. Cell replication is only needed if an atom can occur in the neighbor list more than once; then it is still unclear, which of th

[2018-07-20 14:47] gabor1 opened #12 "definition of strain"
hi Guys!

Vikram and I were reviewing the code in get_delta_plus_epsilon(), because we wanted to understand exactly what was being calculated. Here are some suggestions:

1) you compute the deformation matrix, which is indeed delta+epsilon, as suggested by the name of the function, but then the name of the variable into which it is accumulated is just called epsilon, which is confusing.

2) The de

[2018-07-20 19:57] gabor1 opened #13 "poisson_ratio gives wrong answer"
There is some problem with the poisson ratio calculations.

Here is an example script (needs quippy for the potential, but other EAMs should work), which first computes the poisson ratio in the cubic bcc unit cell. Then I ask it to compute by pulling in the (0,1,1) direction, and it gives a silly number (0.6), then I create a rotated unit cell which has the y axis along the (0,1,1), and now the po

[2018-07-21 01:36] gabor1 commented on #11
Can we have a temporary fix for this? I suggest allowing an option to atomic_strain() to turn off the mic()

[2018-07-21 08:29] pastewka commented on #12
I agree that the name Delta+epsilon is confusing because it suggests small strain. It should probably be called deformation gradient. However, I think conversion to Green-Lagrangian strain should be up to the user - but adding a function that returns that would probably be useful.

---
Prof. Lars Pastewka
University of Freiburg
Department of Microsystems Engineering
Office: +49 761 203-67480
http:

[2018-07-21 09:03] gabor1 commented on #12
Sure. Perhaps also rename the function to atomic_deformation_gradient?

-- Gábor

[2019-04-01 13:16] griessej opened #17 "Scipy in Travis CI"

[2019-04-25 13:06] arn-all opened #19 "Call to atomman differential_displacement broken by new version"
Hi,

## Error

In `matscipy.dislocation.plot_vitek()`, the call to the atomman package function `differential_displacement` provokes the following error :

```TypeError: differential_displacement() got an unexpected keyword argument 'show'```
 with atomman version `>1.2.4`.

## Piece of code involved

Below, the call to atomman in matscipy :

[code]

## Reason

It is because we changed the argumen

[2019-11-26 15:50] griessej opened #26 "Reading Eam/alloy file with one extra value"

[2019-12-13 19:40] pgrigorev commented on #19
Hi,
Thanks for reporting that. I was using an old version and discovered this change only recently.
I have just noticed that something weird happened with this commit:
https://github.com/usnistgov/atomman/commit/7de5f63ac1b75da9ef16b5bb9b57526a7e711c8f#diff-7413d2aec84a53464dc3c1440a13b8e3

Basically it wiped out the changes of my pull request where I aded possibility of passing matplotlib axes to

[2020-02-20 17:14] gabor1 opened #30 "Discrepancy between ase eam and matscipy eam"
[pot.fs.zip](https://github.com/libAtoms/matscipy/files/4232059/pot.fs.zip)

I am trying to use an EAM potential for FeH, and have a `.fs` file. When I pass it to the matscipy calculator, I get the same energy that the standard ASE EAM calculator gives, but the forces are different. Geometry optimisation fails with the matscipy calculator, so I that is the wrong one. Am I doing something wrong?

[

[2020-03-06 11:42] pastewka commented on #30
This sounds like a bug.

@wgnoehring did you notice any problems and can you have a look at this?

[2020-04-04 15:48] gabor1 opened #32 "force_consistent energies"
Is there a reason why the EAM calculator lies about its energy not being force_consistent (in the ASE sense) ?

[code]

errors with
[code]
[PotentialB.fs.zip](https://github.com/libAtoms/matscipy/files/4431837/PotentialB.fs.zip)

[2020-04-21 23:30] wgnoehring commented on #32
Which version of Matscipy has this problem? I get no error with the current version (0.3.0+93.gbc9b428) and ASE 3.19.1.

[2020-04-21 23:35] gabor1 commented on #32
0.3.0 I think:

[code]

[2020-04-22 10:24] wgnoehring commented on #32
Thank you for the trace. `free_energy` was added to the `results` dictionary of the Matscipy EAM calculator in commit f2b173be908a9f5d896ae4f73020d4bbaad2bfa1, so this error will not occur
with more recent versions of Matscipy.

[2020-04-22 10:27] gabor1 commented on #32
Thanks - what’s your pypi update policy ?

-- Gábor

Gábor Csányi
Professor of Molecular Modelling
Engineering Laboratory, University of Cambridge
Pembroke College Cambridge

Pembroke College supports CARA. A Lifeline to Academics at Risk.  http://www.cara.ngo/

[2020-04-22 11:51] pastewka commented on #32
There is none. I'll make a new release later today.

[2020-04-22 11:51] #32 closed

[2020-04-30 20:54] bernstei opened #36 "elasticity doesn't know about symmetry constraint"
It may not be worth fixing, so maybe it's just a "won't fix", but the ASE new FixSymmetry constraint confuses matscipy.elasticity.  If the constraint is applied when you start computing elastic constants, the strains that it thinks it's applying don't actually take effect, and you get garbage elastic constants as a result.  One consistent alternative is for matscipy to have a keep_symmetry argumen

[2020-05-01 08:48] jameskermode commented on #36
How about simply raising an exception if the Atoms object passed into `fit_elastic_constants()` has any constraints attached?

[2020-05-01 08:58] pastewka commented on #36
That sounds like a reasonable safeguard

________________________________
Von: James Kermode <notifications@github.com>
Gesendet: Freitag, 1. Mai 2020 10:49
An: libAtoms/matscipy
Cc: Subscribed
Betreff: Re: [libAtoms/matscipy] elasticity doesn't know about symmetry constraint (#36)

[2020-05-01 13:29] bernstei commented on #36
Fine by me, certainly.  Maybe there should be a flag to make it overridable: for constraints that don't modify the nature of the affine deformation, e.g. bond lengths for a molecular solid, I can imagine people wanting to leave them in place. The unrelaxed elastic constants may not be meaningful, but the relaxed ones probably would be.

[2020-05-04 18:33] pastewka commented on #30
Fixed with #34

[2020-05-04 18:33] #30 closed

[2020-05-05 15:15] pastewka commented on #32
@gabor1 I just pushed a new release onto pypi that contains all these fixes

[2020-05-05 15:29] gabor1 commented on #32
cool, thanks!

-- Gábor

Gábor Csányi
Professor of Molecular Modelling
Engineering Laboratory, University of Cambridge
Pembroke College Cambridge

Pembroke College supports CARA. A Lifeline to Academics at Risk.  http://www.cara.ngo/

[2020-05-06 12:15] jameskermode commented on #36
Should be fixed now. Please reopen if not.

[2020-05-06 12:15] #36 closed

[2020-05-13 13:31] jameskermode opened #38 "Using new EAM hessian in narrow periodic cell"
I'm keen to try out the new EAM Hessian functionality - thanks @wgnoehring for contributing this!

I'd like to apply to a system which is large in 2 dimension but narrow in the 3rd dimension, and  I see the comment [here](https://github.com/libAtoms/matscipy/blob/master/matscipy/calculators/eam/calculator.py#L360) requires i-j pairs to be unique.

Is there a fundamental reason why this is restrict

[2020-05-13 15:47] wgnoehring commented on #38
I think this problem is related to #34. The EAM calculator requires a method that, given a pair `ij`, finds the location of the reversed pair `ji` in the neighbor list. My first implementation did not properly handle cases where pairs `ij` were in the neighbor list multiple times with different distance, due to small system size. This may have been the reason why I observed asymmetric Hessians and

[2020-05-15 15:41] #38 closed

[2020-05-27 13:12] pastewka commented on #26
@griessej Can you give a bit more explanation on what this was? I forgot.

[2020-06-09 12:41] wgnoehring commented on #26
I have encountered this problem in the case of a CuZr and a NiCoCr potential. The header says that the functions are tabulated at N points, but in fact there are N+1 points. The additional value might be a zero at the end. The EAM reader fails due to this extra value. Interestingly, this is not a problem for Lammps. Maybe the Lammps reader ends the line when enough values are read. Anyway, failure

[2020-06-10 07:08] pastewka commented on #26
Okay. That sounds like a bug. @griessej should still provide a more detailed explanation of what the original problem was. Can you do this please?

[2020-09-03 23:26] bernstei opened #47 "rare crash in neighbor list"
Very rarely, I get a crash inside matscipy's neighbor list code.  The crash happens in `neighbours.c`, specifically in
[code]
I added earlier references to `strlen(quantities)`, and they work until you get to
[code]
Indeed, `quantities` is set by what looks to me like it could just be a reference to the incoming python object, not a copy
[code]
If the `Py_DECREF` makes the pointer invalid (python

[2020-09-04 08:14] jameskermode commented on #47
Interesting, it does seem like there's a problem if the segfault occurs when accessing `quantitites`.

However, according to [the docs](https://docs.python.org/3/c-api/unicode.html#c.PyUnicode_AsASCIIString) `PyUnicode_AsASCIIString` returns a new reference, so the code should actually be correct as it is. `PyBytes_AS_STRING` does not create a copy, it just interprets the pointer.

In any case, wo

[2020-09-04 08:15] jameskermode commented on #47
@pastewka do you think there's an issue with reference counting here?

[2020-09-04 08:56] #47 closed

[2020-09-04 08:57] pastewka commented on #47
Should be fixed with this commit. `Py_DECREF` releases the buffer which `quantities` points to and of course needs to happen at the end. Thanks for reporting this @bernstei

[2020-09-04 13:09] bernstei commented on #47
Thanks for the quick fix.  At what point does this change make it into the pypi version, or do I need to install from the github source?

[2020-09-04 15:15] pastewka commented on #47
I just pushed it to PyPI

[2020-09-09 12:56] pastewka opened #50 "Sorted neighbor list"
The neighbor list is currently sorted by first index only, it may be beneficial for some applications to have a fully sorted neighbor list. This would make neighbor list construction slower, but only slightly so. Any opinions on this?

[2020-09-09 12:56] jameskermode commented on #50
Maybe optional and defaulting to not sorting?

[2020-09-09 13:05] griessej commented on #50
I agree with James. If this is needed, it should be passed explicitly by keyword. Applications that do not need this will not suffer any performance loss.

[2020-09-09 13:49] pastewka commented on #50
That would be an option. I'll look into this.

[2020-09-10 08:58] pastewka commented on #17
Hi @griessej what was this issue? Can it be closed?

[2020-09-10 09:18] griessej commented on #17
The issue was that scipy was not imported into Travis and therefore the tests were not run. Is solved now and issue can be closed

[2020-10-22 11:15] #17 closed

[2020-11-03 11:54] wgnoehring opened #54 "EAM kind 'eam': calculate pair potential from charge function"
EAM tables of kind 'eam' (DYNAMO funcfl format) contain the effective charge function :math:`z_i`, rather
than the pair potential `phi_ij`. The pair potential for elements `i` and `j` can be calculated from the charge functions as `r*phi_ij=z_i z_j`, see `https://lammps.sandia.gov/doc/pair_eam.html`. An additional prefactor `27.2*0.529` may be
necessary in order to convert to units of electronvolt

[2020-11-07 00:57] futureflsl opened #57 "matscipy support windows?"
when I pip install matscipy with windows10 VS2019,errors occurred

  ERROR: Command errored out with exit status 1:
   command: 'D:\program\Anaconda3\envs\tmp\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\ADMINI~1\\AppData\\Local\\Temp\\pip-install-8ief1gm9\\matscipy\\setup.py'"'"'; __file__='"'"'C:\\Users\\ADMINI~1\\AppData\\Local\\Temp\\pip-install-8ief1gm9\\

[2020-11-07 04:41] pastewka commented on #57
Looks to me like it is not finding a compiler. My suggestion is use the Windows Subsystem for Linux (WSL) if you need to run this on Windows.

[2020-11-11 16:35] jameskermode opened #58 "Seg fault in ring_statistics.cpp following recent changes to neighbour list"
Following the recent changes to neighbour list, the following script gives a seg fault in `ring_statistics.cpp`

[code]

Here's a backtrace:

[code]

I've confirmed that reverting to commit acc20d3005b6b0f9eb gets rid of the seg fault, so it must be related to the changes in the neighbour list, but I haven't yet dug deep enough to figure out exactly what changed.

@pastewka or @chcltchunk, any ide

[2020-11-11 17:20] chcltchunk commented on #58
@pastewka I could reproduce the error and I think I found the error in first_neighbours. If the changes don't affect the triplet list and the bond order potential I will commit them soon.

[2020-11-11 17:46] jameskermode commented on #58
Thanks for the fast response!

[2020-11-11 20:27] pastewka commented on #58
@chcltchunk Can you please fix this? Nevertheless, the ring statistics should not segfault if something stupid is passed as the argument. @chcltchunk Can you turn the current segfault into a test, i.e. simply pick whatever the current output is and paste this into a test (that will segfault). I will then debug this and turn the segfault into a proper error message.

[2020-11-11 22:58] chcltchunk commented on #58
As it turned out, the segmentation fault was somehow related to the seed array being initialized with 0 instead of -1. A test that makes sense to me would check whether the resulting first neighbour list only contains reasonable numbers within the range of len(atoms) and if 0 occurs only once?

[2020-11-12 06:13] pastewka commented on #58
That would be a safeguard, but we should find the basic problem and put the safeguard there. It's probably a buffer overflow when accessing array indices. (But as I said I can look into this.)

________________________________
Von: Jonas Oldenstaedt <notifications@github.com>
Gesendet: Donnerstag, 12. November 2020 00:00
An: libAtoms/matscipy
Cc: Lars Pastewka; Mention
Betreff: Re: [libAtoms/matsc

[2020-11-15 08:30] #58 closed

[2020-11-15 09:16] jameskermode commented on #58
Thanks both!

[2020-11-15 10:41] pastewka commented on #58
There are still tests failing. Sorry for this mess, I shouldn't have merged to pull requests. (Somehow github does not show failing Travis tests in the PR so I was under the impression that those were good.)

What I'll do today is rearrange the testing framework (I want it to work with pytest) and fix those failing tests in that process.

[2020-11-15 14:08] jameskermode commented on #58
Sounds good. I was also confused about the CI setup. Travis is still running tests on PR branches, but for some reason they don’t show up in the GitHub PR interface.

[2020-11-15 14:22] pastewka commented on #58
I believe they may be doing this to push their own CI...

________________________________
Von: James Kermode <notifications@github.com>
Gesendet: Sonntag, 15. November 2020 15:08
An: libAtoms/matscipy
Cc: Lars Pastewka; State change
Betreff: Re: [libAtoms/matscipy] Seg fault in ring_statistics.cpp following recent changes to neighbour list (#58)

[2020-11-15 15:19] jameskermode commented on #58
Still working fine for libAtoms/QUIP repo, so I think it’s a configuration issue

[2020-11-15 22:47] pastewka opened #60 "test_eam_read_write fails"
For some reason writing and re-reading standard EAM files (kind="eam") fails.

[2020-11-16 07:32] pastewka commented on #58
I've fixed all lingering issues, @jameskermode can you confirm that the ring statistics segfault has disappeared?

[2020-11-16 08:17] jameskermode commented on #58
Yup, seg fault is fixed - thanks!

`python setup.py test` still seems to run via unittest rather than pytest, I'll see if I can fix it. I also have some failing tests in `test_crack.py`, probably due to numerical precision.

[2020-11-16 08:21] jameskermode commented on #58
Done in `master` directly

[2020-11-16 08:55] pastewka commented on #58
Okay, thanks. It was unclear to me if all those tests actually ran before. I think only a subset may have run.

[2020-11-16 08:55] jameskermode commented on #58
Some of them depend on atomistica.

[2020-11-16 08:56] pastewka commented on #58
Ahh, okay. Enabling those in CI is also something that I should look at.

[2020-11-17 14:28] pastewka commented on #60
Fixed with #62

[2020-11-17 14:28] #60 closed

[2020-11-17 14:29] pastewka commented on #57
I am closing this since we are unlikely to act on it.

[2020-11-17 14:29] #57 closed

[2020-11-17 15:31] leon-dae opened #63 "Voigt_6_to_full_3x3_strain in elasticity.py not correct"
Hi guys,
when converting a Voigt strain to a 3x3 strain and back, I don't get the same results.
I think the diagonal entries in the definition below should be 1.0*e1 and so on instead of using the "+".

[code]

[2020-11-17 16:02] pastewka commented on #63
I just added a test for the conversion and that seems to work. I start with a randomized Voigt notation. Note that when you start from 3x3 strain matrix, you won't get the same results if your initial matrix is not symmetric. It will symmetrize the matrix for you, i.e. get rid of any rotation.

What I don't understand is the `1.0+`. It seems to convert to the (small strain) deformation gradient no

[2020-11-17 16:04] jameskermode commented on #63
Agreed, this is returning the deformation gradient not the strain tensor. We should either rename the function or remove the `1.0+`s.

[2020-11-17 16:05] pastewka commented on #63
I'd vote for removing the 1+, not sure if this will break anything downstream.

[2020-11-17 16:07] jameskermode commented on #63
Doesn't seem to be widely used. The same mistake is also in `ase.constraints`, but again its never used so would be OK to fix it.

[code]

[2020-11-17 16:08] pastewka commented on #63
Okay, will fix this.

[2020-11-17 16:08] jameskermode commented on #63
Thanks!

[2020-11-17 16:11] jameskermode commented on #63
Not quite fixed yet, your commit will break `generate_elastic_constants()` in `matscipy.elasticity`.

[2020-11-17 16:12] pastewka commented on #63
There seems to be no test for this

[2020-11-17 16:13] jameskermode commented on #63
It should be caught by the tests of `fit_elastic_constants()`, I think.

[2020-11-17 16:13] pastewka commented on #63
I can't find `generate_elastic_constants`. Where is this?

[2020-11-17 16:14] jameskermode commented on #63
Oh, sorry, typo: `generate_strained_configs()`, called by `fit_elastic_constants()`

[2020-11-17 16:14] pastewka commented on #63
Ahhhh, the `fit_elastic_constants` test does not run on my computer because it relies on `quippy`. Can I `pip install quippy`?

[2020-11-17 16:15] jameskermode commented on #63
afraid not - that's still an aspritation, as we have to much custom Makefile config. we could switch to a matscipy EAM potential.

[2020-11-17 16:16] pastewka commented on #63
Yes you can:

`quippy - Quippy is a parser library for parsing Quipper ASCII quantum circuit descriptions.`

[2020-11-17 16:17] pastewka commented on #63
We'll soon have SW in matscipy and could switch that test to that SW implementation.

[2020-11-17 16:18] jameskermode commented on #63
sounds good.

We'll have to sue those guys for the PyPI rights!

[2020-11-17 16:21] pastewka commented on #63
Can you fix that test since I suppose that you have quippy installed?

[2020-11-17 16:21] jameskermode commented on #63
Yup sure, I'll do that now

[2020-11-18 09:32] leon-dae commented on #63
This might be more of a theory question, and my knowledge here is limited, but I started with a Voigt strain vector not a 3x3 strain.
As far as I understand it, there should not be any symmetry requirements on the vector, because Voigt notation already exploits this symmetry in reducing the 3x3 strain to a vector?

[2020-11-18 13:00] pastewka commented on #63
That is right. Can you post the code that fails to get back the input Voigt vector?

[2020-11-18 15:15] leon-dae commented on #63
Below is the corresponding code, I copied the associated functions to make a MWE.

Now, If I simply do the two transformations the strains end up being almost the same, with very small differences in the first three entries (not sure if this should be the case).

However, retracing my steps from yesterday, I actually noticed that the stresses were different when I used the original version of  `Vo

[2020-11-18 16:10] jameskermode commented on #63
test_fit_elastic_contants now fixed on master.

@leon-dae I didn't have time to check the example yet, but thanks for providing it!

[2020-11-18 16:21] pastewka commented on #63
Thanks @jameskermode

The elastic constants test using the EAM potential in `test_dislocation.py` now stalls in CI - it works locally on my machine.

[2020-11-18 16:52] jameskermode commented on #63
I'll take a look.

[2020-11-18 20:18] jameskermode commented on #63
It's OK after my most recent commit - I guess previously we were passing a strain where a deformation tensor was expected, which could have lead to a very odd shaped cell that broke the minimiser.

[2020-11-18 21:31] pastewka commented on #63
Okay, great, thank you!

________________________________
Von: James Kermode <notifications@github.com>
Gesendet: Mittwoch, 18. November 2020 21:19
An: libAtoms/matscipy
Cc: Lars Pastewka; State change
Betreff: Re: [libAtoms/matscipy] Voigt_6_to_full_3x3_strain in elasticity.py not correct (#63)

[2020-11-21 15:42] wgnoehring commented on #54
Fixed by #64

[2020-11-21 15:42] #54 closed

[2021-02-21 19:45] jan-janssen opened #69 "LGPL vs. GPL"
I am a bit confused about the license, the `LICENSE` file states `GPL 2.0` while the `setup.py` file states `LGPL 2.1+`.

[2021-02-22 07:11] pastewka commented on #69
Oops, thanks for notifying us. This should be LGPGL. I will update the LICENSE file.

[2021-02-22 07:13] #69 closed

[2021-03-02 08:39] jameskermode commented on #63
Just tidying up, I think this can be closed?

[2021-03-02 08:46] pastewka commented on #63
Yes, this should be fixed

[2021-03-02 08:51] #63 closed

[2021-05-30 07:48] OshinoMoumou opened #75 "Possible improvement for method 'alpha_num_order'"
Greetings!
I noticed that method alpha_num_order referred a StackOverflow post, while [a recent comment](https://stackoverflow.com/questions/2669059/how-to-sort-alpha-numeric-set-in-python#comment118999729_2669523) to it noticed that it doesn't work for sorting sets of version numbers alphanumerically; e.g., v1.0.1, v3.5.3, v3.2.4.
I'm trying to learn the usefulness of such small updates on StackO

[2021-06-10 08:50] jameskermode opened #76 "Migrate CI to GitHub Actions?"
Travis-CI.org is shutting down imminently and the payment plans on the replacement Travis-CI.com are exorbitant, with no free open source plan any more. I think we need to follow the rest of the open source world to GitHub actions - would that be ok? Happy to try to migrate the travis.yml, as I'm doing the same for QUIP and friends.

[2021-06-10 08:52] pastewka commented on #76
No objections

[2021-06-10 09:32] jameskermode commented on #76
Looks like you've mostly done this already, to deploy docs to gh-pages and to PyPI. I guess we can just disable Travis, then.

[2021-06-10 09:37] pastewka commented on #76
The automated tests are still in Travis I think.

________________________________
Von: James Kermode ***@***.***>
Gesendet: Donnerstag, 10. Juni 2021 11:33
An: libAtoms/matscipy
Cc: Lars Pastewka; Comment
Betreff: Re: [libAtoms/matscipy] Migrate CI to GitHub Actions? (#76)

[2021-06-10 09:38] jameskermode commented on #76
Yup, just realised that. I've added a test stage to the GitHub Actions CI. Once that works I'll disable Travis to avoid duplicate notifications until it gets switched off next week.

[2021-06-10 09:43] pastewka commented on #76
Sounds good!

________________________________
Von: James Kermode ***@***.***>
Gesendet: Donnerstag, 10. Juni 2021 11:38
An: libAtoms/matscipy
Cc: Lars Pastewka; Comment
Betreff: Re: [libAtoms/matscipy] Migrate CI to GitHub Actions? (#76)

[2021-06-10 10:54] jameskermode commented on #76
Interestingly there are a couple of failing tests... wonder how long that's been the case. Not sure why they were all passing on Travis but not on GHA, must be some Python version thing. Will try to reproduce locally and fix.

[2021-06-10 11:02] pastewka commented on #76
Oops...

________________________________
Von: James Kermode ***@***.***>
Gesendet: Donnerstag, 10. Juni 2021 12:54
An: libAtoms/matscipy
Cc: Lars Pastewka; Comment
Betreff: Re: [libAtoms/matscipy] Migrate CI to GitHub Actions? (#76)

[2021-07-28 19:46] pastewka opened #78 "c2d tests fail in CI"
The following tests fail in CI:

* FAILED test_c2d.py::c2dCliTest::test_c2d_input_format_npz_output_format_xyz
* FAILED test_c2d.py::c2dCliTest::test_c2d_input_format_txt_output_format_xyz
* FAILED test_c2d.py::c2dCliTest::test_pnp_c2d_pipeline_mode

[2021-07-28 19:47] jameskermode commented on #78
What is c2d?

[2021-07-28 19:57] pastewka commented on #78
I think continous to discrete - it's a Poisson-Boltzmann solver but the naming is a bit unfortunate

@jotelha - can you fix this and think about a better naming scheme. Explicit is better than abbreviations in any case.

[2021-07-28 19:58] pastewka commented on #76
WIll be fixed once #77 is merged

[2021-07-29 00:03] jotelha commented on #78
This should make the tests work again as before, I will think about some explicit naming.

[2021-07-29 08:14] #78 closed

[2021-07-29 08:58] #76 closed

[2021-07-29 09:02] pastewka opened #81 "Remove symlinks from repository"
There are symlinks in `matscipy/cli/electrochemistry` that make trouble when checking out on non-Linux system.

@jotelha - please remove those symlinks

[2021-08-15 06:41] yunai2384 opened #86 "Search of (A-B)-(A-B)-(...) rings in ring_statistics"
Hello,
    I was searching for rings in compound AB2, and the only type of rings i need is (A-B)-(A-B)-(...). I modified functions  step_colser(), step_away() and find_shortest_distances() with type[j] != type[j], but it say "Distance map and graph do not match".  How can i do with it ?
Best regard,
yunai

[2021-08-17 13:06] jameskermode commented on #86
Perhaps generating all rings and then filtering based on type afterwards would be a simpler approach?

[2021-08-18 07:01] yunai2384 commented on #86
Thanks for reply, i think the shortest path of A-A-A... rings and A-B-A-B... rings should be different, and  a little modification of the shortest path algorithm forA-B-A-B rings should be better?

[2021-08-18 07:42] jameskermode commented on #86
Thinking about this a little more, I think you could actually do it with no modifications to the shortest path algorithm, just by passing a custom `cutoff` dictionary to [neighbour_list](https://libatoms.github.io/matscipy/matscipy.html#matscipy.neighbours.neighbour_list). If you leave out A-A and B-B from the dictionary they will never considered to be neighbours.

[2021-08-18 07:49] pastewka commented on #86
You can also explicitly remove A-A and B-B- neighbors from the neighbor list. Try the following (untested):

[code]

[2021-08-19 06:14] yunai2384 commented on #86
Thanks a lot, i checked the rings in my 816 atoms in AB2, and the rings i get are all A-B-A-B, it helps me a lot.
Best regards and keep healthy!

[2021-08-19 06:34] #86 closed

[2022-02-28 15:22] ghost opened #94 "Add citation guide"
This is a brilliant project, many thanks for the help in researches.

How about adding a citation guide so that we can cite this repo?

[2022-03-07 08:32] richardjana opened #95 "unexpected behavior of neighbour_list"
I just encountered behavior from neighbour_list, which I had not expected and which seems strange / undesirable to me when I call the function and give a single number for the cutoff

- When I use a float, e.g. 5.0, everything works just fine.
- When I give an integer, e.g. 5, I get an error `ValueError: object of too small depth for desired array` from _matscipy.neighbour_list.

I realize that th

[2022-03-07 08:42] pastewka commented on #95
Interesting, that looks like a bug. Thanks for reporting.

[2022-03-07 08:43] jameskermode commented on #95
I've also noticed this before: my guesss is that the variable is passed straight to C without a type conversion so should be pretty easy to fix.

[2022-03-07 08:49] pastewka commented on #95
Agree, there is some funkiness going on with type conversion in the C code.

[2022-03-07 08:50] pastewka opened #96 "Switch to pybind11?"
Should we switch the C code to C++ and pybind11? My guess is this would lead to a C++ code that is half the size of what we have currently, but we would have a dependency on pybind11 (which is actually just a bunch of C++ headers).

[2022-03-07 08:51] jameskermode commented on #96
I don't have any objection to this. We already have some C++ code so there are no further portability concerns beyond the pybind11 dependency.

[2022-03-07 08:56] pastewka commented on #96
Okay, I'll see if can make room to do this. It would greatly simplify many aspects of the interface (and make it more robust also with respect to type confusion issues, i.e. #95)

[2022-03-07 21:15] pastewka commented on #94
This is a good comment. @jameskermode - I'm not sure whether we'll be able to find time to write a paper on this. We could push releases to Zenodo and get DOI - hence become citable. (This will actually nicely show up on github as being citable.) That would be a minimal effort solution. Any thoughts?

[2022-03-08 20:42] jameskermode commented on #94
It would be nice to write a matscipy paper but I agree it's unlikely to become high priority enough to happen, so also happy with a lower effort route. For QUIP we just added a [CITATION.cff](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files) file that links to the GitHub repo itself, which is even less work:

h

[2022-09-09 07:37] qqqqmmmm opened #102 "Fail to install matscipy on Windows system"
On Windows, when I execute "python setup.py build", it says

c = os.path.basename(self.compiler.compiler[0])
AttributeError: 'MSVCCompiler' object has no attribute 'compiler'. Did you mean: 'compile'?

What should I do? Thanks

[2022-09-14 05:48] pastewka commented on #102
We don't support Windows build. You are welcome to fix it, but we cannot offer support for Windows.

If you want to run matscipy on Windows, I recommend using [WSL](https://docs.microsoft.com/en-us/windows/wsl/install).

[2022-09-22 11:46] pastewka opened #103 "Hessian for multi-species systems"
The new implementation of the Hessian does not yet work for atomic system with multiple species.

[2022-09-27 08:02] m3lab-zzl opened #105 "Question: Basic theory for generating strained cells"
Hi, `matscipy` is a fantastic work, really love it.

But I got a question when generating the strained configuration:

In `elasticity.py/generate_strained_configs` function:

[code]

I wonder why the new cell is generated in that way, is there any underlying theory? `np.dot(T, at.cell.T).T` seems to be equivalent to a simpler form of `np.dot(T, at.cell)`

Thank you very much.

[2022-09-27 08:04] jameskermode commented on #105
The transpose are needed because the [ASE cell](https://wiki.fysik.dtu.dk/ase/ase/cell.html#ase.cell.Cell) is stored row-wise rather than column-wise. Once that has been corrected for, we apply the transformation, then transpose back again to match the ASE convention.

[2022-09-27 08:07] jameskermode opened #106 "Build Wheels"
I'd like to setup [cibuildwheel](https://cibuildwheel.readthedocs.io/en/stable/) to build binary wheels using GitHub Actions that we can release on PyPI. This would also help with issues like #57 requesting support on a wider range of platforms. I've had good success doing this with f90wrap and quippy, and matscipy should be simpler as there's no Fortran (although there is C++, so #96 would still

[2022-09-27 08:09] jameskermode commented on #106
@pastewka Is C++11 sufficient for everything we use? If not there are tricks to enable C++14 compliant compilers: https://cibuildwheel.readthedocs.io/en/stable/cpp_standards/

[2022-09-27 08:33] pastewka commented on #106
The C++ parts are very bare bones, C++11 should be sufficient.

[2022-09-27 09:29] m3lab-zzl commented on #105
My mistake, `np.dot(T, at.cell.T).T` actually equals `np.dot(at.cell, T)`, not `np.dot(T, at.cell)`, here is a simple test:
[code]

The result is:

[code]

That means the following equation applies, which I still cannot figure out:

![image](https://user-images.githubusercontent.com/102862066/192488051-1b98992c-b72c-4883-9425-31a004ddc06f.png)

Here, xyz is the new cell, abc the old one, and e11~e

[2022-10-04 12:45] pgrigorev opened #108 "Publication of a paper about matscipy"
So far, while citing `matscipy` in our papers I had to use a web citation to the repository that always feels a bit _ad-hoc_. Thus I was thinking that it would be nice to have a paper published to be able to formally cite the code. Moreover, it can help all of us to get more formal recognition of our efforts. This issue is essentially to discuss how we can achieve this.

After a short discussion a

[2022-10-04 12:46] pastewka commented on #108
I think this is a good idea. @prs513rosewood has published in this journal before and has commented positively on it.

[2022-10-04 12:46] jameskermode commented on #108
Sounds good to me, happy to be involved and to contribute to the writing.

[2022-10-04 12:48] pastewka commented on #108
Same here.

[2022-10-04 12:49] pastewka commented on #108
PS: I don't think that there are parts that require significant rework. However, it is to be understood that the code (and API) can change over time. We should also adopt a more stringent versioning policy and release more often.

[2022-10-04 12:50] pastewka commented on #108
That said, one thing I wanted to do at some point is to make our C-accelerated neighbor list 100% compatible with what is now implemented in the main ASE branch in pure Python.

[2022-10-04 13:04] pgrigorev commented on #108
Oh, very impressive quick reactions, thank you! It seems to be the case that there is nothing really that stops us to go for it. The dependency on `atomman` and the compatibility of neighbour lists  with `ASE` looks more like possible enhancements. We can think about platform where we can list and discuss it. I see there is something like `projects` in the repository. Can this be a good place?

As

[2022-10-04 13:35] jameskermode commented on #108
Does JOSS have a suggested method for determining authorship? I think we should be as inclusive as possible and invite everyone who has contributed code to be an author.

[2022-10-04 13:58] pastewka commented on #108
I agree about being as inclusive as possible here.

[2022-10-04 15:50] threich commented on #108
The IWM folks that are involved in matscipy (Sliding_P barostat implementation and the OPLS-LAMMPS interface) would also  be happy to contribute, if you consider our contributions to matscipy significant enough.

[2022-10-05 11:18] pgrigorev commented on #108
They have a [short guidance](https://joss.readthedocs.io/en/latest/submitting.html#authorship)

_Purely financial (such as being named on an award) and organizational (such as general supervision of a research group) contributions are not considered sufficient for co-authorship of JOSS submissions, but active project direction and other forms of non-code contributions are. The authors themselves a

[2022-10-13 08:07] jameskermode commented on #106
Done for MacOS and Linux in #107. Will leave this open until tested and as a reminder to add Windows support.

[2022-10-14 07:23] m3lab-zzl commented on #105
I think I have made it out, and I will close this issue.

For future visitors, hint:
Taking single vector x to analyze and then combine all 3 vectors, things will be much easier.

Cheers.

[2022-10-14 07:23] #105 closed

[2022-10-19 11:00] pgrigorev commented on #108
I have just merged few changes in the submission branch [108-JOSS-submission](https://github.com/libAtoms/matscipy/tree/108-JOSS-submission). I will repeat the summary of what I have done here. My idea is that anyone who wants to contribute can put there changes to this branch and then we use it fro submission.

I have added a bit of text and the suggested structure of the paper. I think it would

[2022-10-28 10:47] pgrigorev commented on #108
I have just merged a pull request from @threich with the description of `pressurecoupling.py` - great work! It is nice to see that we are progressing. If anyone wants to contribute, but does not want or does not have time to fiddle with branches and pull requests, he can just post the text here as a comment and I will be happy to add it to the draft. Same for the citations. Thank you!

[2022-11-23 14:01] ilyes319 commented on #106
Hey @jameskermode,

Putting a comment here for the windows wheels. I am trying to install matscipy on windows. I think I am using MSVC compiler. When doing `pip install matscipy` I get the following error:
[matscipy_error_pip.txt](https://github.com/libAtoms/matscipy/files/10076180/matscipy_error_pip.txt)

Not sure I understand correctly the error. Maybe the wheels does not work with MSVC and I sh

[2022-11-23 14:04] jameskermode commented on #106
OK thanks. This is the same error I get in GitHub Actions so at least it's consistent.

[2022-11-24 08:17] pastewka opened #116 "Add pyproject.toml and potentials change build system"
We should as a `pyproject.toml` file and at least switch to declarative `setuptools` build. My suggestion would be to additionally switch to `Meson` as a build environment, see here: https://thiblahute.gitlab.io/mesonpep517/pyproject.html

[2022-11-24 08:23] jameskermode commented on #116
Good idea - this would probably help with the failing Windows builds too (see #106, currently preventing MACE from adding matscipy as a dependency despite a huge performance speed up from switching to our neighbour list).

[2022-11-24 08:26] pastewka commented on #116
I'm not sure what Meson support for Windows is - should check. The only other build system I am aware of is `scikit-build` which uses CMake under the hood: https://scikit-build.readthedocs.io/en/latest/usage.html - However, Meson seems more modern and better designed.

[2022-11-24 08:31] jameskermode commented on #116
Yes, I've also had a brief look at Meson and think it looks good. There's also [pants](https://www.pantsbuild.org/) but it's probably over-the-top for us.

[2022-11-24 08:33] pastewka commented on #116
Never heard of pants, will look into it. But it looks like they don't support C-code at present.

[2022-11-24 08:34] pastewka commented on #96
We should probably switch the build system first, see #116

[2022-11-24 08:34] pastewka commented on #95
Will be fixed with #96

[2022-11-24 15:19] eli-schwartz commented on #116
Well, SciPy (and WIP for NumPy) is using Meson for Windows builds as well. :)

As far as pants goes, it seems like it's yet another bazel derivative? I question how that's supposed to work with `pip install` from an sdist, whereas Meson has a PEP 517 build backend (actually two of them, https://pypi.org/project/meson-python/ is a newer one that was built for SciPy).

[2022-11-26 13:28] pastewka commented on #116
I've just switched another project over to Meson, it was fantatically simple: https://github.com/ContactEngineering/SurfaceTopography/pull/255 - will do the same for matscipy